<!-- ログ設定 -->
<Configuration status="warn">

    <Appenders>
        <RollingFile name="file"
            fileName="${cloud-print-console.log.dir}/app.log"
            filePattern="${cloud-print-console.log.dir}/%d{yyyy-MM-dd}_app.log.gz">
            <PatternLayout>
                <Pattern>[%d{yyyy-MM-ss HH:mm:ss}] [%-18t] [%-5p] %m - %l%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="akihyro.cloudprintconsole" level="trace" additivity="false">
            <AppenderRef ref="file" />
        </Logger>
        <Root level="info">
            <AppenderRef ref="file" />
        </Root>
    </Loggers>

</Configuration>
